<!DOCTYPE html>
<html>
<head>
    <title>Users</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h2>Registered Users</h2>

    <table>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Email</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user[1] }}</td>
            <td>{{ user[2] }}</td>
            <td>{{ user[3] }}</td>
            <td>{{ user[4] }}</td>
        </tr>
        {% endfor %}
    </table>

    <a href="/">Back</a>
</body>
</html>
